@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Light mode */
    .light-mode {
        background-color: #ffffff;
        color: #000000;
    }

    /* Dark mode */
    .dark-mode {
        background-color: #1f2937;
        color: #ffffff;
    }

    .prompt:not(:placeholder-shown) ~ .search-btn svg.light {
        color: black;
    }

    .prompt:not(:placeholder-shown) ~ .search-btn svg.dark {
        color: white;
    }
}
